@charset "UTF-8";

#wrap {
	width:1200px;
}

header {
	height:70px;
}

.empty-box {
	height:100px;
}

.post-box {
	width:550px;
}

.pw-box {
	width:400px;
}

.box-border {
	border: 1px solid #cccccc;
}

.post-input-box {
	width:550px;
}

.upload-icon {
	font-size:30px;
}

.cotent-comment-box {
	width:500px;
}

.fixed-menu {
	position:fixed;
	left:0px;
	bottom:0px;
	height:60px;
	width:100%;
}

.main-menu {
	width:700px;
}

footer {
	height:80px;
}