@charset "UTF-8";

#wrap {
	width:1200px;
}

header {
	height:70px;
}

.empty-box {
	height:100px;
}

.post-box {
	width:550px;
}

.box-border {
	border: 1px solid #cccccc;
}

.post-input-box {
	width:550px;
}

.main-menu {
	width:700px;
}

footer {
	height:80px;
}